DATABASE_URL=mysql+pymysql://usuario:password@db:3306/recetas_db
SECRET_KEY=cambia_esto_por_una_clave_segura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
OPENROUTER_API_KEY=sk-or-xxxxxxxxxxxx
OPENROUTER_MODEL=mistralai/mistral-7b-instruct
DB_ROOT_PASSWORD=root_password
DB_USER=usuario
DB_PASSWORD=password